@model AssetGuard_Project.Models.EnvioContabilidad

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Envio A Contabilidad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescripcionEC" class="control-label"></label>
                <input asp-for="DescripcionEC" class="form-control" />
                <span asp-validation-for="DescripcionEC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auxiliar" class="control-label"></label>
                <input asp-for="Auxiliar" class="form-control"  readonly value="8"/>
                <span asp-validation-for="Auxiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaDB" class="control-label"></label>
                @Html.DropDownListFor(model => model.CuentaDB, new List<SelectListItem>
                {
                new SelectListItem { Text = "Gasto depreciación Activos Fijos", Value = "65", Selected = true},
                new SelectListItem { Text = "Depreciación Acumulada Activos Fijos", Value = "66"}
                }, new { @class = "form-control" })
                <span asp-validation-for="CuentaDB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaCR" class="control-label"></label>
                @Html.DropDownListFor(model => model.CuentaCR, new List<SelectListItem>
                {
                new SelectListItem { Text = "Gasto depreciación Activos Fijos", Value = "65", Selected = true},
                new SelectListItem { Text = "Depreciación Acumulada Activos Fijos", Value = "66"}
                }, new { @class = "form-control" })
                <span asp-validation-for="CuentaCR" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="MontoEnvioContabilidad" class="control-label"></label>
                <input asp-for="MontoEnvioContabilidad" class="form-control" />
                <span asp-validation-for="MontoEnvioContabilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />|
                <a asp-action="Index" class="btn btn-info">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
