@model AssetGuard_Project.Models.EnvioContabilidad

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Envio a Contabilidad</h4>
<button id="enviarButton" class="btn btn-info" >Enviar Solicitud</button>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEC" />
            <div class="form-group">
                <label asp-for="DescripcionEC" class="control-label"></label>
                <input asp-for="DescripcionEC" class="form-control" id="DescripcionEC"/>
                <span asp-validation-for="DescripcionEC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Auxiliar" class="control-label"></label>
                <input asp-for="Auxiliar" class="form-control" id="Auxiliar" readonly />
                <span asp-validation-for="Auxiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaDB" class="control-label"></label>
                <div id="CuentaDB">
                @Html.DropDownListFor(model => model.CuentaDB, new List<SelectListItem>
                {
                new SelectListItem { Text = "Gasto depreciación Activos Fijos", Value = "65", Selected = true},
                new SelectListItem { Text = "Depreciación Acumulada Activos Fijos", Value = "66"}
                    }, new { @class = "form-control" ,@id = "CuentaDBDropDownList"})
                </div>
                <span asp-validation-for="CuentaDB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuentaCR" class="control-label"></label>
                
                @Html.DropDownListFor(model => model.CuentaCR, new List<SelectListItem>
                {
                new SelectListItem { Text = "Gasto depreciación Activos Fijos", Value = "65", Selected = true},
                new SelectListItem { Text = "Depreciación Acumulada Activos Fijos", Value = "66"}
                }, new { @class = "form-control" , @id = "CuentaCRDropDownList"})

                <span asp-validation-for="CuentaCR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontoEnvioContabilidad" class="control-label"></label>
                <select asp-for="MontoEnvioContabilidad" class="form-control" asp-items="ViewBag.MontoEnvioContabilidad" id="MontoEnvioContabilidad"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-info">Regresar</a>|
                

            </div>
        </form>
    </div>
</div>
<div id="jsonDiv"></div>

<div id="respuestaDiv"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {

        // Capturar el clic del botón y hacer la llamada al controlador
        $("#enviarButton").click(function () {
            var Descripcion = $("#DescripcionEC").val();
            var Auxiliar = parseInt($("#Auxiliar").val());
            var CuentaDB = parseInt($("#CuentaDBDropDownList").val());
            var CuentaCR = parseInt($("#CuentaCRDropDownList").val());
            var MontoEnvioContabilidad = parseFloat($("#MontoEnvioContabilidad").val());

            var dataToSend = {
                descripcion: Descripcion,
                auxiliar: Auxiliar,
                cuentaDB: CuentaDB,
                cuentaCR: CuentaCR,
                monto: MontoEnvioContabilidad
            };
           
            // Realizar la llamada AJAX al controlador asincrónico
            $.ajax({
                url: '@Url.Action("EnviarSolicitud", "EnvioContabilidads")',
                type: 'POST',
                dataType: 'html',
                data: dataToSend,
                success: function (data) {
                    // Aquí puedes procesar la respuesta del controlador si es necesario
                    // Por ejemplo, mostrar la respuesta en algún div en la vista
                    $("#respuestaDiv").html(data);
                },
                error: function (xhr, status, error) {
                    // Manejo de errores si es necesario
                    console.error(error);
                    alert("Ha ocurrido un error al realizar la solicitud.");
                }
                                 
            });

        });
        
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
