@model AssetGuard_Project.Models.ActivosFijo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Activos fijos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DescripcionAf" class="control-label"></label>
                <input asp-for="DescripcionAf" class="form-control" />
                <span asp-validation-for="DescripcionAf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoAf" class="control-label"></label>
                <select asp-for="DepartamentoAf" class ="form-control" asp-items="ViewBag.DepartamentoAf"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoActivoAf" class="control-label"></label>
                <select asp-for="TipoActivoAf" class ="form-control" asp-items="ViewBag.TipoActivoAf"></select>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistroAf" class="control-label"></label>
                <input asp-for="FechaRegistroAf" class="form-control" />
                <span asp-validation-for="FechaRegistroAf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorCompraAf" class="control-label"></label>
                <input asp-for="ValorCompraAf" class="form-control" />
                <span asp-validation-for="ValorCompraAf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepreciacionAcumuladaAf" class="control-label"></label>
                <input asp-for="DepreciacionAcumuladaAf" class="form-control" />
                <span asp-validation-for="DepreciacionAcumuladaAf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />|
                <a asp-action="Index" class="btn btn-info">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
